html, body {
  margin: 8px;
  height: 100%;
}

.square {
  position: relative;
  width: 5%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.label {
  font-size: 110%;
}

.row {
  margin: 5px;
}

.row-header {
  margin-right: 20px;
}
